
* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100vw;
    height: 7vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: white;
}

#logo {
    width: 20vw;
    height: 6vh;
    margin-left:2vw;
}
#logo > img {
    zoom: 0.08;
}

#navbar {
    display: flex;
    height: 7vh;
    width: 30vw;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
    align-items: center;
    position: absolute;
    right: 1vw;
}

#base {
    display: grid;
    position: relative;
    top: 5vh;
    width: 100vw;
    height: 80vh;
    /* border: 5px solid red; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/landing.jpg);
    background-position: center;
}

.text-base {
    margin: auto;
    color: aliceblue;
    text-align: center;
    height: 25vh;
    width: 70vw;
}

.text-base > h1 {
    font-family: sans-serif;
    font-size: 6em;
    margin-bottom: 2vh;
}

.text-base > h3 {
    font-family: system-ui;
    font-weight: lighter;
    font-size: 200%;
    margin-bottom: 1.5vh;
    letter-spacing: 0.03em;
}

#letters {
    margin-top: 150px;
    text-align: center;
    /* position: relative; */
    font-size: 40px;
}

#letters > p {
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: underline 5px rgb(22, 204, 22);
    /* set the space bettween text and underline */
    text-underline-offset: 20px;
}

#container {
    margin-top: 30px;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 5vw;
}
.songs {
    height: 30vh;
    width: 22vw;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding: 40px 40px;
}

.songs > img {
    height: 200px;
    width: auto;
}

.songs > h1 {
    color: #00B172;
    font-size: 2em;
}

.songs > h4 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
}

#green-box{
    height:70vh;
    width:96vw;
    background-color: #00B172;
    margin: 2vw 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 5vw;
}
.icon,.app{
    height: 60vh;
    width:30vw;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon > img{
    zoom:0.2;   
}
.app > img{
    height:60vh;
    width:auto;
}

.words{
    height:60vh;
    width:30vw;
    display:grid;
    z-index:4;
    color:white;
}
.words > h1{
    font-family: Arial;
    letter-spacing: 0.05em;
    font-weight: 400%;
    text-decoration: underline 4px white;
    /* set the space bettween text and underline */
    text-underline-offset: 20px;
}

.word > h2{
    font-family: 'Courier New';
    letter-spacing: 0.05em;
    font-size: 4rem;
    font-weight: 400%;
}
.words > h4{
    font-family: system-ui;
    letter-spacing: 0.05em;
    font-weight: lighter;
    font-size: 1.5em;
}




